{% extends "_base.html" %}    
    {% block content %}
    <h1>Lista de Pessoas</h1>

    <!--adicionar um buscador-->
    <form class="d-flex gap-3 mt-2" action="{% url 'list' %}" method="GET">
        <span>Pesquisar: </span>
        <input name="obj" type="text" value="{{request.GET.obj}}" placeholder="nome da pessoa...">

        {% if request.GET.obj %}
        <a href="{% url 'list' %}" class="btn btn-danger btn-sm">voltar</a>
        {% endif %}

        <button class="btn btn-primary btn-sm" type="submit" >Buscar</button>
    </form>

    <a href="{% url 'add' %}" class="btn btn-primary btn-sm">Add +</a>

    
    <table border="1">

        {% for pessoa in pessoas %}
            <tr>
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.cpf}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.idade}}</td>
            <td>{{pessoa.rg}}</td>
            <td><a href="{% url 'detail' pessoa.id %}" class="btn btn-info btn-sm">Detalhar</td>
            </tr>

            {% endfor %}
    </table>
{% endblock %}